.boddeh{
background-image: url(http://i1079.photobucket.com/albums/w506/Lorenzopen918/field_zpsxsokb8s2.jpg);
background-position: center;
background-size: cover;
}

.button_intro {
  display: inline-block;
  padding: 15px 32px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #e7e7e7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_intro:hover {background-color: #c0c0c0}

.button_intro:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.head {
padding: 40px 20px;
text-align: center;
font-size: 70px;
margin-top: 10%

}

.head_2 {
padding: 40px 20px;
text-align: center;
font-size: 50px;

}

ul.nos {
text-align:center;
font: 15px;
font-weight: bold;
list-style-type: disc;
list-style-position: inside
}

li > p {
    font-weight: normal;
}

.buttonF1 {
  display: inline-block;
  padding: 15px 32px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: blue;
  border: none;
  border-radius: 15px;
}

.buttonF1:hover {background-color: white}

.buttonF1:active {
  background-color: red;
  transform: translateY(4px);
}

.buttonB {
  display: inline-block;
  padding: 15px 32px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: antiquewhite;
  background-color: black;
  border: none;
  border-radius: 15px;
}

.buttonB:hover {background-color: gold;
                color: black
}

.buttonB:active {
  background-color: red;
  transform: translateY(4px);
}

.buttonE {
  display: inline-block;
  padding: 15px 32px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: red;
  background-color: ghostwhite;
  border: none;
  border-radius: 15px;
}

.buttonE:hover {background-color: lightgoldenrodyellow;
                color: red
}

.buttonE:active {
  background-color: red;
    color: ghostwhite;
  transform: translateY(4px);
}

.buttonC {
  display: inline-block;
  padding: 15px 32px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: antiquewhite;
  background-color: red;
  border: none;
  border-radius: 15px;
}

.buttonC:hover {background-color: white;
                color: red
}

.buttonC:active {
  background-color: blue;
    color: white;
  transform: translateY(4px);
}

.text_main{
color: black;
font: 15px;
}


.headF{
background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/Flag_of_France.svg/250px-Flag_of_France.svg.png);
background-size: 665px 999px;
background-position: center;
border: px Solid transparent;
padding: 15px;
}

.headB{
color: black;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwHB5nFYPxb5skPlcaVm1ITkOaIvqiGLFnnvhGOhG6AXlxGbenkA);
background-size: 700px 99999px;
background-position: center;
border: px Solid transparent;
padding: 15px;
}

.headE{
color: black;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST1ujphqFQ1DfAmdr_HY3FoPD8l0mhG9QHVmHl-lOcRWzCFsRp);
background-size: 360px 90px;
background-position: center;
border: px Solid transparent;
padding: 8px;
}

.headC{
color: black;
background-image: url(https://www.ukbookmakers.info/wp-content/uploads/2018/07/croatia-252x127.jpg?x75573);
background-size: 650px 130px;
background-position: center;
border: px Solid transparent;
padding: 45.5px;
}

.button_nav {
  display: inline-block;
  padding: 5px 2px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #e7e7e7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button_nav:hover {background-color: #c0c0c0}

.button_nav:active {
  background-color: #696969;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.par{
text-align: center;    
background-color: white;
}